<html>
    <head>
        <title>Enter Assignment Data</title>
    </head>
    <body>
        <h1>Enter Assignment Data</h1>
        <input id="id_new_assignment" placeholder="Enter AssignmentID" />
        <input id="Name_new_assignment" placeholder="Enter AssignmentName" />
        <input id="PEO_new_assignment" placeholder="Enter PEO" />
        <input id="SO_new_assignment" placeholder="Enter SO" />
        <input id="ClassID_new_assignment" placeholder="Enter ClassID" />
        <input id="Score_new_assignment" placeholder="Enter Score" />
        <input id="Term_new_assignment" placeholder="Enter Term" />
        <input id="Year_new_assignment" placeholder="Enter Year" />
        <table id="id_list_table">
        </table>      
    </body>
</html>