<html>
    <head>
        <title>Enter Assignment Data</title>
    </head>
    <body>
        <h1>Enter Assignment Data</h1>
        <form method="POST"></form>
            <input name = 'Assignment ID' id="id_new_assignment" placeholder="Enter AssignmentID" />
            <input name= 'Assignment Name' id="Name_new_assignment" placeholder="Enter AssignmentName" />
            <input name = 'PEO' id="PEO_new_assignment" placeholder="Enter PEO" />
            <input name = 'SO' id="SO_new_assignment" placeholder="Enter SO" />
            <input name = 'Class ID' id="ClassID_new_assignment" placeholder="Enter ClassID" />
            <input name = 'Score' id="Score_new_assignment" placeholder="Enter Score" />
            <input name = 'Term' id="Term_new_assignment" placeholder="Enter Term" />
            <input name = 'Year'id="Year_new_assignment" placeholder="Enter Year" />
            {% csrf_token %}
        </form>
        <table id="id_list_table">
        </table>      
    </body>
</html>